
<div class="secondStrip">
<div class="container-1280">
    <a href="javascript: void(0);" routerLink="/home"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp; Home Page</a>
    <div class="titleTwo">
        ABOUT US
    </div>
</div>
</div>
<div class="container-1280 animate__animated animate__fadeIn">
    
    <div class="boxOne mb-4">
        <div class="cardOne card1">
        <div class="row">
            <div class="col-md-5">
                <img src="../../assets/images/temple/5.jpeg" alt="" class="rounded w-100" />
                
            </div>
            <div class="col-md-7">
                <p class="mt-0 fnt500">
                    Welcome to the sacred abode of Dakshina Ayodhya in Kacharkanahalli, Bengaluru, where history, devotion, and resilience converge to create a haven of spirituality. Our journey dates back to the glorious and culturally rich Vijayanagara-Nayak period, somewhere between 1500 AD - 1600 AD, as indicated by the Archaeological Survey Department report. It was during this time that a valiant fight unfolded in Ayodhya, coinciding with the period when Babar demolished the Ram Mandir and built a mosque in the same place.
                </p>
                <p class="fnt500">
                    Around 1990-92 AD, the residents and community leaders of Kacharakanhalli fought their own battle with the local government. This struggle aimed to resist the development of a modern cow slaughterhouse (abattoir) within the very temple area. To prevent the demolition of the temple structure and the construction of such an unholy place, people gathered with devotion, leading to the establishment of our revered temple.
                </p>
            
         <p class="fnt500">
            As the government sought to build a butchery on this sacred land, the devout guardians rose overnight to reconstruct the demolished temple structure, preventing the desecration of the hallowed ground. The temple stands as a testament to the unwavering spirit of the community and its commitment to preserving the sanctity of this divine space.
         </p>
         <video width="100%" height="320" controls>
            <source src="../../assets/images/inauguration/DJI_0370.mp4" type="video/mp4">
            <source src="../../assets/images/inauguration/DJI_0370.mp4" type="video/ogg">
            Your browser does not support the video tag.
        </video> 
            </div>
        </div>
    </div>
    </div>
</div>
<div class="boxone">
    <h4 class="text-center titleOne pt-4 pb-3">TEMPLE TIMINGS</h4>
    <div class="container-1280 animate__animated animate__fadeIn pb-3">
        <div class="row m-0">
          <div class="col-12 col-md">
            <h6 class="titleWhite">Daily Temple Open Timings</h6>
            <div class="stripOne mt-3">
                <small>Monday - Sunday</small>
                <div class="timinglabel">7:15AM to 12:15PM</div>
            </div>
            <div class="stripOne mt-3">
                <small>Evening Hours</small>
                <div class="timinglabel">5:30PM to 8:00PM</div>
            </div>
          </div>
          <div class="col-12 col-md">
            <h6 class="titleWhite">Thursady & Saturday</h6>
            <div class="stripOne mt-3">
                <small>Morning Hours</small>
                <div class="timinglabel">7:15AM to 1:00PM</div>
            </div>
            <div class="stripOne mt-3">
                <small>Evening Hours</small>
                <div class="timinglabel">5:30 to 8:30PM</div>
            </div>
          </div>
          <div class="col-12 col-md">
            <h6 class="titleWhite">Mangala Arthi Everday</h6>
            <div class="stripOne mt-3">
                <small>Morning Hours</small>
                <div class="timinglabel">8:30AM to 9:00PM</div>
            </div>
          </div>
          <div class="col-12 col-md">
            <h6 class="titleWhite">Annadaana Seva Everyday</h6>
            <div class="stripOne mt-3">
                <small>Morning Hours</small>
                <div class="timinglabel">11:00AM to 2:00PM</div>
            </div>
         
          </div>
          
        </div>

    </div>
</div>
