

@media (max-width: 768px){

    .icon-box{
        position: relative;
        min-width: 145px !important;
        border-radius: 0px !important;
        right: 0px;
        margin: 0px;
        padding: 3px 2px;
    }
    .leftBox{
        position: absolute;
        right: 0px;
        border-radius: 0px;
        padding: 2px 0px 0px 0px;
        font-size: 12px;
        min-width: 140px;
        margin: 0px;
        div{
                display: flex;
                font-size: 14px;
                justify-content: flex-end;
                align-items: baseline;
                line-height: 28px;
            i{
                font-size: 16px;
                margin-right: 10px;
            }
        }
    }
    .description{
        font-size: 12px;
        padding: 18px 18px 5px 18px !important;
        .title {
            font-size: 16px;
        }
    }
}