
<div class="secondStrip mb-0">
    <div class="container-1280">
        <a href="javascript: void(0);" routerLink="/home"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp; Home Page</a>
        <div class="titleTwo">
            CONTACT US
        </div>
    </div>
    </div>
    <div class="w-100">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.2676164535!2d77.6273319!3d13.0186225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae172176388ec9%3A0xa8b2e4927982a4f!2sHanuman%20statue!5e0!3m2!1sen!2sin!4v1715694937302!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="container-1280 animate__animated animate__fadeIn">
    <div class="contact mb-5">
        <div class="row mt-3 ml-0 mr-0">

            <div class="col-lg-6">
    
              <div class="row">
                <div class="col-md-12">
                  <div class="info-box">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <h3 class="mb-0"><strong>Dakshina Ayodhya Temple</strong></h3>
                    <p><br> 
                        1st block, kacharakanahalli, Thanisandra Main Rd, Venkateshpura,<br> 1st Stage, HBR Layout, Bengaluru, Karnataka 560043</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box mt-4 mb-3">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <h3>Email Us</h3>
                    <p>
                        <a href="mailto:enquiry@dakshinaayodhyatemple.com">
                            enquiry@dakshinaayodhyatemple.com
                        </a>
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box mt-4 mb-3">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <h3>Call Us</h3>
                    <p><a href="tel:+999999999">+91 999999999</a></p>
                  </div>
                </div>
              </div>
    
            </div>
    
           <div class="col-lg-6">
              <form role="form" class="php-email-form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="7" placeholder="Message" required=""></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit" class="btn btn-warning btnOne">Send Message</button></div>
              </form>
            </div>
    
          </div>
    </div>
    
    </div>

