<div class="secondStrip">
    <div class="container-1280">
        <a href="javascript: void(0);" routerLink="/home"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp; Home Page</a>
        <div class="titleTwo">
            GALLERY
        </div>
    </div>
</div>
<div class="container-1280 m-auto text-center">
  <div class="row">
    <div class="col-sm-12 col-lg-3">
      
      <div class="bgAlbum mb-3" routerLink="/gallery/construction">
        <div class="row m-0">
          <div class="col-6 p-0">
            <img class="img-responsive w-100 p-2" src="../../assets/images/construction/1.jpeg" />
          </div>
          <div class="col-6 p-0">
            <img class="img-responsive w-100 p-2" src="../../assets/images/construction/2.jpg" />
          </div>
          <div class="col-6 p-0">
            <img class="img-responsive w-100 p-2" src="../../assets/images/construction/6.jpg" />
          </div>
          <div class="col-6 p-0">
            <img class="img-responsive w-100 p-2" src="../../assets/images/construction/7.jpg" />
          </div>
        </div>
        <div class="text-center">
          <strong>Construction</strong>
        </div>
    </div>
  
  </div>
  <div class="col-sm-12 col-lg-3">
      
    <div class="bgAlbum mb-3" routerLink="/gallery/political">
      <div class="row m-0">
        <div class="col-6 p-0">
          <img class="img-responsive w-100 p-2" src="../../assets/images/political/1.jpg" />
        </div>
        <div class="col-6 p-0">
          <img class="img-responsive w-100 p-2" src="../../assets/images/political/2.jpg" />
        </div>
        <div class="col-6 p-0">
          <img class="img-responsive w-100 p-2" src="../../assets/images/political/6.jpg" />
        </div>
        <div class="col-6 p-0">
          <img class="img-responsive w-100 p-2" src="../../assets/images/political/7.jpg" />
        </div>
      </div>
      <div class="text-center">
        <strong>Political</strong>
      </div>
  </div>

</div>
    <div class="col-sm-12 col-lg-3">
      
      <div class="bgAlbum mb-3" routerLink="/gallery/inauguration">
        <div class="row m-0">
          <div class="col-6 p-0">
            <img class="img-responsive w-100 p-2" src="../../assets/images/inauguration/1.jpg" />
          </div>
          <div class="col-6 p-0">
            <img class="img-responsive w-100 p-2" src="../../assets/images/inauguration/2.jpg" />
          </div>
          <div class="col-6 p-0">
            <img class="img-responsive w-100 p-2" src="../../assets/images/inauguration/6.jpg" />
          </div>
          <div class="col-6 p-0">
            <img class="img-responsive w-100 p-2" src="../../assets/images/inauguration/7.jpg" />
          </div>
        </div>
        <div class="text-center">
          <strong>Inauguration</strong>
        </div>
    </div>
  
  </div>
    <div class="col-sm-12 col-lg-3">
      <div class="bgAlbum mb-3" routerLink="/gallery/temple">
        <div class="row m-0">
          <div class="col-6 p-0">
            <img class="img-responsive w-100 p-2" src="../../assets/images/temple/1.jpeg" />
          </div>
          <div class="col-6 p-0">
            <img class="img-responsive w-100 p-2" src="../../assets/images/temple/5.jpeg" />
          </div>
          <div class="col-6 p-0">
            <img class="img-responsive w-100 p-2" src="../../assets/images/temple/7.jpeg" />
          </div>
          <div class="col-6 p-0">
            <img class="img-responsive w-100 p-2" src="../../assets/images/temple/8.jpeg" />
          </div>
        </div>
        <div class="text-center">
          <strong>Temple</strong>
        </div>
      </div>
    </div>
    
  </div>
    
</div>

