<div class="secondStrip">
    <div class="container-1280">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="javascript: void(0);" routerLink="/home"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp; Home Page</a>
            </li>
            <li class="list-inline-item clrWhite">/</li>
            <li class="list-inline-item">
                <a href="javascript: void(0);" routerLink="/gallery">Gallery</a>
            </li>
        </ul>
        <div class="titleTwo">
            Inauguration
        </div>
    </div>
</div>
<div class="container-1280 m-auto text-center">
<div class="mb-4 lightBoxNew">
    <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide" >

      <!-- <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/inauguration/DJI_0370.mp4"
          >
          <video width="320" height="240" controls>
            <source src="../../../assets/images/inauguration/DJI_0370.mp4" type="video/mp4">
            <source src="../../../assets/images/inauguration/DJI_0370.mp4" type="video/ogg">
            Your browser does not support the video tag.
          </video>
        </a> -->
        <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/inauguration/1.jpg"
          >
          <img class="img-responsive"
            src="../../../assets/images/inauguration/1.jpg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/inauguration/2.jpg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/inauguration/2.jpg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/inauguration/3.jpg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/inauguration/3.jpg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/inauguration/4.jpg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/inauguration/4.jpg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/inauguration/5.jpg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/inauguration/5.jpg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/inauguration/6.jpg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/inauguration/6.jpg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/inauguration/7.jpg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/inauguration/7.jpg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/inauguration/8.jpg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/inauguration/8.jpg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/inauguration/9.jpg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/inauguration/9.jpg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/inauguration/10.jpg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/inauguration/10.jpg" />
        </a>

      </lightgallery>
    </div>
</div>