<div class="secondStrip">
    <div class="container-1280">
      <ul class="list-inline">
        <li class="list-inline-item">
            <a href="javascript: void(0);" routerLink="/home"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp; Home Page</a>
        </li>
        <li class="list-inline-item clrWhite">/</li>
        <li class="list-inline-item">
            <a href="javascript: void(0);" routerLink="/gallery">Gallery</a>
        </li>
    </ul>
        <div class="titleTwo">
            Temple
        </div>
    </div>
</div>
<div class="container-1280 m-auto text-center">
<div class="mb-4 lightBoxNew">
    <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide" >

      <!-- <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/temple/DJI_0370.mp4"
          >
          <video width="320" height="240" controls>
            <source src="../../../assets/images/temple/DJI_0370.mp4" type="video/mp4">
            <source src="../../../assets/images/temple/DJI_0370.mp4" type="video/ogg">
            Your browser does not support the video tag.
          </video>
        </a> -->
        <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/temple/1.jpeg"
          >
          <img class="img-responsive"
            src="../../../assets/images/temple/1.jpeg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/temple/2.jpeg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/temple/2.jpeg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/temple/3.jpeg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/temple/3.jpeg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/temple/4.jpeg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/temple/4.jpeg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/temple/5.jpeg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/temple/5.jpeg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/temple/6.jpg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/temple/6.jpg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/temple/7.jpeg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/temple/7.jpeg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/temple/8.jpeg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/temple/8.jpeg" />
        </a>
        <a data-lg-size="480-480-480, 800-800-800, 1400-1400" class="gallery-item animate__animated animate__fadeIn"
          data-src="../../../assets/images/temple/9.jpeg"
         
          >
          <img class="img-responsive"
            src="../../../assets/images/temple/9.jpeg" />
        </a>
        

      </lightgallery>
    </div>
</div>