<div class="secondStrip">
    <div class="container-1280">
        <a href="javascript: void(0);" routerLink="/home"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp; Home Page</a>
        <div class="titleTwo">
            SEVAS
        </div>
    </div>
</div>
<div class="container-1280 animate__animated animate__fadeIn">
    <div class="row m-0">
        <div class="col-12 col-md-4">
            <div class="cardOne">
                <!-- <img src="../../assets/icons/seva3.png" alt="image icon"/> -->
                <img src="../../assets/icons/seva2.png" alt="image icon"/> 
                <h3>Punarvasu Pooja</h3>
                <p>
                    <i class="fa fa-clock-o fnt16px" aria-hidden="true"></i>&nbsp;Morning 7.15am onwards
                </p>
                <div class="text-center d-none">
                    <a href="javascript: void(0);">View More&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="cardOne">
                <img src="../../assets/icons/seva2.png" alt="image icon"/>
                <h3>Subramanya Swamy shasti Pooja</h3>
                <p>
                    <i class="fa fa-clock-o fnt16px" aria-hidden="true"></i>&nbsp;Morning 7.15am onwards
                </p>
                <div class="text-center  d-none">
                    <a href="javascript: void(0);">View More&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="cardOne">
                <!-- <img src="../../assets/icons/seva5.png" alt="image icon"/> -->
                <img src="../../assets/icons/seva2.png" alt="image icon"/>
                <h3>Trayodashipradosh Pooja </h3>
                <p>
                    <i class="fa fa-clock-o fnt16px" aria-hidden="true"></i>&nbsp;Evening 6.00pm  onwards
                </p>
                <div class="text-center  d-none">
                    <a href="javascript: void(0);">View More&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="cardOne">
                <!-- <img src="../../assets/icons/seva5.png" alt="image icon"/> -->
                <img src="../../assets/icons/seva2.png" alt="image icon"/>
                <h3>Chandikahoma on Amavasya  </h3>
                <p>
                    <i class="fa fa-clock-o fnt16px" aria-hidden="true"></i>&nbsp;Evening 6.00pm  onwards
                </p>
                <div class="text-center  d-none">
                    <a href="javascript: void(0);">View More&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="cardOne">
                <!-- <img src="../../assets/icons/seva5.png" alt="image icon"/> -->
                <img src="../../assets/icons/seva2.png" alt="image icon"/>
                <h3>Masa Shiv Ratri Pooja  </h3>
                <p>
                    <i class="fa fa-clock-o fnt16px" aria-hidden="true"></i>&nbsp;Evening 6.00pm  onwards
                </p>
                <div class="text-center  d-none">
                    <a href="javascript: void(0);">View More&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="cardOne">
                <!-- <img src="../../assets/icons/seva5.png" alt="image icon"/> -->
                <img src="../../assets/icons/seva2.png" alt="image icon"/>
                <h3>Satyanarayana Pooja </h3>
                <p>
                    <i class="fa fa-clock-o fnt16px" aria-hidden="true"></i>&nbsp;Evening 6.00pm  onwards
                </p>
                <div class="text-center  d-none">
                    <a href="javascript: void(0);">View More&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="cardOne">
                <!-- <img src="../../assets/icons/seva5.png" alt="image icon"/> -->
                <img src="../../assets/icons/seva2.png" alt="image icon"/>
                <h3>Sankashtahara Ganpati Pooja  </h3>
                <p>
                    <i class="fa fa-clock-o fnt16px" aria-hidden="true"></i>&nbsp;Evening 6.00pm  onwards
                </p>
                <div class="text-center  d-none">
                    <a href="javascript: void(0);">View More&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="cardOne">
                <img src="../../assets/icons/seva5.png" alt="image icon"/>
                
                <h3>Annadanam </h3>
                <p>
                    <i class="fa fa-clock-o fnt16px" aria-hidden="true"></i>&nbsp;Every Saturday 11am - 2pm 
                </p>
                <div class="text-center  d-none">
                    <a href="javascript: void(0);">View More&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
       
    </div>
    <!-- <div class="row m-0">
        <div class="col-md-6 col-lg-12 align-items-stretch mb-5 mb-lg-0">
        
        <div class="icon-box mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon d-flex"><img src="../../assets/icons/seva3.png" height="50" alt="image icon"/> <h4 class="title ml-3 pt-3">Darshan</h4></div>
            
            <p class="description mt-3">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
        
    </div>
    <div class="col-md-6 col-lg-12 align-items-stretch mb-5 mb-lg-0">
        
        <div class="icon-box mb-4" data-aos="fade-up" data-aos-delay="100">
        <div class="icon d-flex"><img src="../../assets/icons/seva2.png" height="50" alt="image icon"/> <h4 class="title ml-3 pt-3">Pooja</h4></div>
        
        <p class="description mt-3">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
        </div>
        
    </div>
    <div class="col-md-6 col-lg-12 align-items-stretch mb-5 mb-lg-0">
        
        <div class="icon-box mb-4" data-aos="fade-up" data-aos-delay="100">
        <div class="icon d-flex"><img src="../../assets/icons/seva5.png" height="50" alt="image icon"/> <h4 class="title ml-3 pt-3">Prasadam</h4></div>
        
        <p class="description mt-3">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
        </div>
        
    </div>
    </div> -->
</div>
