<carousel [isAnimated]="true">
    <slide>
        <img src="../../assets/slider/slide-1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/images/inauguration/2.jpg" alt="Hanuman Statue" style="display: block; width: 100%;">
    </slide>
   
    <slide>
        <img src="../../assets/slider/slide-2.jpg" alt="Statue" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="../../assets/slider/slide-3.jpg" alt="Basic work" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="../../assets/images/political/9.jpg" alt="Advanced work" style="display: block; width: 100%;">
      </slide>

     
</carousel>
<div class="container-1280">
    <div class="boxOne mb-4 animate__animated animate__fadeIn">
        <h4 class="text-center mt-4 mb-4 title">ABOUT US</h4>
        <div class="cardOne card1">
            <div class="row">
                <div class="col-12 col-md-5">
                    <img src="../../assets/images/temple/5.jpeg" alt="" class="rounded w-100" />
                    
                </div>
                <div class="col-12 col-md-7">
                    <p class="mt-4 fnt500">
                        Welcome to the sacred abode of Dakshina Ayodhya in Kacharkanahalli, Bengaluru, where history, devotion, and resilience converge to create a haven of spirituality. Our journey dates back to the glorious and culturally rich Vijayanagara-Nayak period, somewhere between 1500 AD - 1600 AD, as indicated by the Archaeological Survey Department report. It was during this time that a valiant fight unfolded in Ayodhya, coinciding with the period when Babar demolished the Ram Mandir and built a mosque in the same place.
                    </p>
                    <p class="fnt500">
                        Around 1990-92 AD, the residents and community leaders of Kacharakanhalli fought their own battle with the local government. This struggle aimed to resist the development of a modern cow slaughterhouse (abattoir) within the very temple area. To prevent the demolition of the temple structure and the construction of such an unholy place, people gathered with devotion, leading to the establishment of our revered temple.
                    </p>
                    <video width="100%" height="320" controls>
                        <source src="../../assets/images/inauguration/DJI_0370.mp4" type="video/mp4">
                        <source src="../../assets/images/inauguration/DJI_0370.mp4" type="video/ogg">
                        Your browser does not support the video tag.
                    </video> 
                    
                    <div class="text-center mt-4">
                        <button class="btn btn-warning btnOne" routerLink="/about">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="boxone">
    <h4 class="text-center titleOne pt-4 pb-3">TEMPLE TIMINGS</h4>
    <div class="container-1280 animate__animated animate__fadeIn">
        <div class="row m-0">
          <div class="col-12 col-md">
            <h6 class="titleWhite">Daily Temple Open Timings</h6>
            <div class="stripOne mt-3">
                <small>Monday - Sunday</small>
                <div class="timinglabel">7:15AM to 12:15PM</div>
            </div>
            <div class="stripOne mt-3">
                <small>Evening Hours</small>
                <div class="timinglabel">5:30PM to 8:00PM</div>
            </div>
          </div>
          <div class="col-12 col-md">
            <h6 class="titleWhite">Thursady & Saturday</h6>
            <div class="stripOne mt-3">
                <small>Morning Hours</small>
                <div class="timinglabel">7:15AM to 1:00PM</div>
            </div>
            <div class="stripOne mt-3">
                <small>Evening Hours</small>
                <div class="timinglabel">5:30 to 8:30PM</div>
            </div>
          </div>
          <div class="col-12 col-md">
            <h6 class="titleWhite">Mangala Arthi Everday</h6>
            <div class="stripOne mt-3">
                <small>Morning Hours</small>
                <div class="timinglabel">8:30AM to 9:00PM</div>
            </div>
          </div>
          <div class="col-12 col-md">
            <h6 class="titleWhite">Annadaana Seva Everyday</h6>
            <div class="stripOne mt-3">
                <small>Morning Hours</small>
                <div class="timinglabel">11:00AM to 2:00PM</div>
            </div>
         
          </div>
          
        </div>
        <div class="text-center mt-4 pb-4">
            <button class="btn btn-warning btnLight" routerLink="/about">Read More</button>
        </div>
    </div>
</div>
<div class="container-1280">
    <div class="boxOne mb-4">
        <h4 class="text-center mt-4 mb-4 title">SEVAS</h4>
        <div class="row m-0">
            <div class="col-12 col-md-4">
                <div class="cardOne">
                    <!-- <img src="../../assets/icons/seva3.png" alt="image icon"/> -->
                    <img src="../../assets/icons/seva2.png" alt="image icon"/> 
                    <h3>Punarvasu Pooja</h3>
                    <p>
                        <i class="fa fa-clock-o fnt16px" aria-hidden="true"></i>&nbsp;Morning 7.15am onwards
                    </p>
                    <div class="text-center d-none">
                        <a href="javascript: void(0);">View More&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="cardOne">
                    <img src="../../assets/icons/seva2.png" alt="image icon"/>
                    <h3>Subramanya Swamy shasti Pooja</h3>
                    <p>
                        <i class="fa fa-clock-o fnt16px" aria-hidden="true"></i>&nbsp;Morning 7.15am onwards
                    </p>
                    <div class="text-center  d-none">
                        <a href="javascript: void(0);">View More&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="cardOne">
                    <!-- <img src="../../assets/icons/seva5.png" alt="image icon"/> -->
                    <img src="../../assets/icons/seva2.png" alt="image icon"/>
                    <h3>Trayodashipradosh Pooja </h3>
                    <p>
                        <i class="fa fa-clock-o fnt16px" aria-hidden="true"></i>&nbsp;Evening 6.00pm  onwards
                    </p>
                    <div class="text-center  d-none">
                        <a href="javascript: void(0);">View More&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-warning btnOne" routerLink="/sevas">Read More</button>
        </div>
</div>  
</div>
<div class="boxone">
    <h4 class="text-center titleOne pt-4 pb-3">EVENTS</h4>
    <div class="container-1280">
        <div class="boxOne mb-4">
           
            <div class="row m-0">
                <div class="col-12 col-md-4">
                    <div class="cardOne">
                        <div class="dateLabel">
                            12 JUNE 2024 
                        </div>
                        <h3>Gaura Purnima</h3>
                        <div class="t-one mb-3">
                            <ul class="list-inline">
                                <li class="list-inline-item mr-4">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Mandapam One
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;20:20
                                </li>
                            </ul>
                        </div>
                        <p>There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered 
                            alteration in some form, by injected humour</p>
                       
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="cardOne">
                        <div class="dateLabel">
                            12 JULY 2024 
                        </div>
                        <h3>Sri Rama Navami</h3>
                        <div class="t-one mb-3">
                            <ul class="list-inline">
                                <li class="list-inline-item mr-4">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Mandapam One
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;20:20
                                </li>
                            </ul>
                            
                        </div>
                        <p>There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered 
                            alteration in some form, by injected humour</p>
                       
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="cardOne">
                        <div class="dateLabel">
                            12 AUGUST 2024 
                        </div>
                        <h3>Sri Krishna Janmastami</h3>
                        <div class="t-one mb-3">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Mandapam One
                        </div>
                        <p>There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered 
                            alteration in some form, by injected humour</p>
                       
                    </div>
                </div>
            </div>
            <div class="text-center mt-4 pb-4">
                <button class="btn btn-warning btnLight" routerLink="/events">Read More</button>
            </div>
        </div>
        
    </div>
</div>

